@{
    ViewBag.Title = "My";
}


<div class=" container">
    <form method="post" action="Contactus"></form>
    <br /> <br /> <span>receiver email</span>
    <input type="text" ,name="receivermail" />
    <br /><br /> <span>subject    </span>
    <input type="text" ,namde="subject" />
    <br /> <br /><span>message</span>
    <input type="text" ,name="message" />
    <br /> <br /> <button type="submit">send email</button>
</div>